.tarte-makeup {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Adjusted gap for better spacing */
  margin-left: 200px; /* Adjusted margin for better alignment */
}

.tarte-item {
  text-align: center;
}

.map-image {
  /* Add styles for the image */
  max-width: 100%; /* Ensure the image does not exceed its container width */
}

.item-details {
  /* Add styles for the container of item name and button */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center items vertically */
}

.item-name {
  /* Add styles for the item name */
}

.btn {
  border-radius: 20px;
  background-color: rgb(237, 237, 237);
  cursor: pointer; /* Add cursor style for better user interaction */
}
